# Archivo de ejemplo para variables de entorno (.env)
# Reemplaza los valores con tus credenciales y renombra el archivo a ".env"

# Token de autenticación para la API del BCRA (Banco Central de la República Argentina)
BCRA_TOKEN=tu_token_aqui
